body {
    text-align: center;
    background-color: rgb(103, 180, 120);
  }

body h1 {
    font-size: 40px;
    text-transform: uppercase;
  }

body button {
    font-size: 20px;
    background-color: rgb(10, 10, 10);
    color: #fff;
    padding: 10px 20px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
  }